[submodule "external/libmaelir"]
	path = external/libmaelir
	url = git@github.com:SimonKagstrom/libmaelir.git
[submodule "external/vesc_can_sdk"]
	path = external/vesc_can_sdk
	url = git@github.com:SimonKagstrom/vesc_can_sdk.git
