<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>se.radbuzz.simulator</string>
    <key>CFBundleName</key>
    <string>radbuzz_qt</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Acts as a BLE peripheral for Gadgetbridge</string>
</dict>
</plist>
